.mytooltip {
    font-size:14px;
    /*height:8px;*/
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    /*width:80px;*/
}
.inputbox {
    border:1px solid darkgray;
    font-size:14px;
    font-family: monospace;
}

ul, #treeUL {
    list-style-type: none;
}

#treeUL {
    padding: 0;
}

.box {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.box::before {
    content: "\232A";
    font-size: 12px;
    color: darkgray;
    display: inline-block;
    margin-right: 2px;
}

.check-box::before {
    content: "\FE40";
    position: relative;
    top: 5px;
    font-size: 12px;
    color: darkgray;
    margin-right: 2px;
}

.nested {
    display: none;
}

.active {
    display: block;
}